{% extends 'layout.html' %}
{% block body %}
<style>
    li {
        float:left;
    }
    .textBox{
        margin:auto;
        border-style:groove;
        border:1px solid black;
        border-radius:25px;
        width:200px;
        text-align:center;
        padding-right:5px;
        padding-left:5px;
        background-color:lightgrey;
        color:black;
    }
    .linebreak{
        width:100%
    }
    .experimentBox{
        margin-bottom:5%;
        border-style:groove;
        border:1px solid black;
        width:25%;
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        float: left;
        background-color: lightgrey;
        color: black;
    }
    .center{
        display:flex;
        justify-content:center;
        align-items: center;
    }
</style>
<div class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <form>
                <select class="textBox" id="selectExp">
                    <optgroup label="--New Experiment--">
                        <option id="newExp" value=0>Create New Experiment</option>
                    </optgroup>
                    <optgroup label="--Existing Experiments--" id="selectExpGroup">

                    </optgroup>
                </select>
            </form>
            <div id="contExpNew">
                <form class="d-flex hidden" id="newExperiment">
                    <label class="textBox" >Name:</label>
                    <input class="form-control me-2" id="newExpName">
                    <button type='button' class="btn btn-primary btm-sm" id="newExpBut">Set</button>  
                </form>
            </div>
            <div id="contExpSel" style="display:none;">
                <form class="'d-flex center" id="existingExperiment">
                    <button type='button' class="btn btn-success btm-sm" id="startExp">Start</button>  
                    <button type='button'  class="btn btn-danger btm-sm" id="stopExp">Stop</button>  
                </form>
                <p class="text-success">Time Start: <span id="timeStart"></span></p>
                <p class="text-info">Elapsed Time: <span id="timeElapsed"></span></p>
                <p class="text-danger">Time End: <span id="timeStop"></span</p>
            </div>

        </div>
    </div>
</div>
<script>
    function update_Experiments(){
        $.getJSON('/update/experiments/list/none',
        function(data){
            Exp=[]
            $("#selectExpGroup").empty();
            for(let i=0;i<data.ret.length;i++){
                Exp.push(data.ret[i])
            }
            listExp=Exp
            selectExperiment=document.getElementById("selectExp")
            group=document.getElementById("selectExpGroup");
            for (var i = 0; i<listExp.length;i++){
                var newOption = document.createElement('option');
                newOption.innerHTML=listExp[i];
                group.appendChild(newOption)
            }
            selectExperiment.selectedIndex=0;
        });
        
    }

    function formatDate(time){
        time=time*1000 //python returns time as seconds, js uses time in milliseconds so must be converted
        t = new Date(time)
        return t.toLocaleString('en-US',{hour12:false})
    }

    function getElapsedTime(startTime,timeCurrent){
        function toTwo(st){
            return ('00'+st).slice(String(st).length)
        }
        //timeCurrent = new Date().getTime()
        e=(timeCurrent)-(startTime*1000)
        //console.log(e)
        ms=e%1000
        e=(e-ms)/1000
        s=e%60
        e=(e-s)/60
        m=e%60
        e=(e-m)/60
        h=e
        return toTwo(h)+':'+toTwo(m)+':'+toTwo(s)//+'.'+toTwo(ms)
    }

    function updateElapsed(){
        rawElapsed = $("#timeStart").data('time')
        endTime=new Date().getTime()
        if ($("#timeElapsed").data('state')!=1){
            endTime=($('#timeStop').data('time')*1000)
        }
        elapsed=getElapsedTime(rawElapsed,endTime)
        document.getElementById("timeElapsed").innerHTML=elapsed
    }

    function getInfo(){
        filename=document.getElementById("selectExp").value
        name=filename.substring(0,filename.length-5)

        document.getElementById("timeStart").innerHTML=""
        document.getElementById("timeStop").innerHTML=""
        if(name){
            $.getJSON('update/experiments/info/'+name,
            function(data){
                console.log(data)
                startTime=formatDate(data.ret[1])
                $("#timeStart").data('time',data.ret[1])
                $("#timeStop").data('time',data.ret[2])
                $("#timeElapsed").data('state',data.ret[3])
                //elapsedTime=getElapsedTime(data.ret[1])
                endTime=formatDate(data.ret[2])
                running=data.ret[3]
                switch(running){
                    case 0:
                        experiment_paused()
                        break;
                    case 1:
                        experiment_running()
                        break;
                    case 2:
                        experiment_stopped()
                        break;
                    default:
                        experiment_paused()
                        break;
                }
                if(data.ret[1]!="-1"){
                document.getElementById("timeStart").innerHTML=startTime}
                //document.getElementById("timeElapsed").innerHTML=elapsedTime
                if(data.ret[2]!="-1"){
                document.getElementById("timeStop").innerHTML=endTime}
                updateElapsed()

            }
            )}
    }

    function start_experiment(){
        filename=document.getElementById("selectExp").value
        name=filename.substring(0,filename.length-5)
        console.log(name)
        $.ajax({
            url:'update/experiments/start/'+name,
            type:'post',
            success:function(){experiment_running();setTimeout(getInfo(),500)}
        })
    }

    function stop_experiment(){
        filename=document.getElementById("selectExp").value
        name=filename.substring(0,filename.length-5)
        console.log(name)
        $.ajax({
            url:'update/experiments/end/'+name,
            type:'post',
            success:function(){experiment_stopped();setTimeout(getInfo(),500)}
        })
    }

    function experiment_running(){
        $('#startExp').prop('disabled',true);
        $('#stopExp').prop('disabled',false);
        var elapsedLoop = setInterval(function(){updateElapsed(),1000})
    }

    function experiment_paused(){
        $('#startExp').prop('disabled',false);
        $('#stopExp').prop('disabled',true);
        clearInterval(runTime)
    }

    function experiment_stopped(){
        $('#startExp').prop('disabled',true);
        $('#stopExp').prop('disabled',true);
        clearInterval(runTime)
    }
    
    document.getElementById("newExpName").value="";

    update_Experiments()
    var  runTime= setInterval(function(){getInfo()},10000);

    $("#selectExp").change(function(){
        current=$(this).find('option:selected').val();
        getInfo()
        if(current=="0"){
            $("#contExpNew").show();
            $("#contExpSel").hide();
        }
        else{
            $("#contExpNew").hide();
            $("#contExpSel").show();
            //getInfo();

        }
    })
    $("#newExpBut").click(function(){
        name=document.getElementById("newExpName").value;
        document.getElementById("newExpName").value=''
        console.log(name);
        $.ajax({
            url:'/update/experiments/new/'+name,
            type:'post',
            success:function(){
                console.log("Created Experiment:"+name);
                $.getJSON('/update/experiments/list/none',
                    function(data){
                        Exp=[]
                        $("#selectExpGroup").empty();
                        for(let i=0;i<data.ret.length;i++){
                            Exp.push(data.ret[i])
                        }
                        listExp=Exp
                        selectExperiment=document.getElementById("selectExp")
                        group=document.getElementById("selectExpGroup");
                        for (var i = 0; i<listExp.length;i++){
                            var newOption = document.createElement('option');
                            newOption.innerHTML=listExp[i];
                            group.appendChild(newOption)
                        }
                        fileName=name+'.json'
                        selectExperiment.value=fileName;
                        document.getElementById("selectExp").dispatchEvent(new Event('change'));
                        //getInfo()
                    });
        }

        });
        
        
    });

    $("#startExp").click(function(){start_experiment();setTimeout(getInfo(),500)})
    $("#stopExp").click(function(){stop_experiment();setTimeout(getInfo(),500)})
</script>




<div id ="experiment" style="margin-bottom: 15%"></div>
<div id="leftBorder"></div>
<div id="rightBorder"></div>
<script>
$("#leftBorder").css({width:"100%",display:"float",flexWrap:"wrap",float:"center"});
$("#leftBorder").css({width:"50%",display:"float",flexWrap:"wrap",float:"left"});
$("#rightBorder").css({width:"50%",display:"float",flexWrap:"wrap",float:"right"});
$("#leftBorder").append("<div id=titleL>Readings<div>");
$("#titleL").css({fontWeight:"bold",textAlign:"center",fontSize:"2.5em"});
$("#rightBorder").append("<div id=titleR>Controls<div>");
$("#titleR").css({fontWeight:"bold",textAlign:"center",fontSize:"2.5em"});

sensors = {{Sensors | safe}}
values = {{Values | safe}}
controls = {{Controls | safe}}
targets = {{Targets | safe}}
conVal={{ControlsValues | safe}}
console.log(controls)
console.log(targets)

var side = ["left","right"];

function basicDisplay(indexing,object,side){
    for(let i = 0;i<indexing.length;i++){
        var newDiv = document.createElement('div');
        newDiv.innerHTML = "<br>";
        newDiv.id="Div"+object[i]
        document.getElementById("cont").appendChild(newDiv);
        if(side=="left"){
            var newName = document.createElement('div');
            var newData = document.createElement('div');
            var newBut = document.createElement('button');
            newName.innerHTML=""+object[i]+"<br>";
            newName.id="DivChild"+i+side;
            newName.appendChild(newData);
            newName.appendChild(newBut);
            newData.innerHTML=values[i]
            newData.id=""+i+side;
            const locale = document.getElementById("Div"+object[i]);
            locale.appendChild(newName);
            
            newBut.className="btn btn-primary btn-sm";
            newBut.innerHTML="Measure"
            newBut.id="button"+i+side;
            newBut.onclick=function(){
                console.log("Button Pressed");
                toSend=JSON.stringify(object[i]);
                console.log(toSend);
                $.ajax({
                    url:'/controls/measure/'+'sensor',
                    type:'post',
                    contentType:'application/json',
                    dataType:'json',
                    data:toSend,
                    success:function(){console.log("Success");update_values();}
                })
            }
        }
        if(side=="right"){
            var newName= document.createElement('div');
            var newData=document.createElement('div');
            var newTarget = document.createElement('div');
            var newBut = document.createElement('button');
            var newInput = document.createElement('input');
            newName.innerHTML=""+object[i]+"<br>Actual:<br>";
            newName.id = "DivChild"+i+side;
            newData.id = ""+i+side;
            newName.appendChild(newData);
            newName.appendChild(newTarget);
            newName.appendChild(newBut);
            newData.innerHTML = conVal[i];
            newTarget.innerHTML = "Target:<br>";
            newInput.type="number";
            newInput.id=""+i+"input";
            newInput.value=targets[i];
            newInput.style = "width:50%;text-align:center";
            newTarget.appendChild(newInput);
            const locale = document.getElementById("Div"+object[i]);
            locale.appendChild(newName);
            newBut.className="btn btn-primary btn-sm";
            newBut.innerHTML="Set Target"
            newBut.id="button"+i+side;
            newBut.onclick=function(){
                console.log("Button Pressed");
                controlIn = document.getElementById(""+i+"input").value;
                console.log("Set target to "+controlIn);
                toSend=[object[i],controlIn];
                toSend=JSON.stringify(toSend);
                console.log(toSend);
                $.ajax({
                    url:'/controls/measure/'+'control',
                    type:'post',
                    contentType:'application/json',
                    dataType:'json',
                    data:toSend,
                    success:function(){console.log("Success");}
                })
            }

            //newDiv.innerHTML="Target:<br>"+"<div id='divVal"+i+side+"target'>"+targets[i]+"</div>Actual:<br>"+"<div id = 'divVal" +i+side+"actual'>"+conVal[i]+"";
            //newDiv.append(" "+object[i]+"<br>Target:<br>"+"<div id='divVal"+i+side+"target'>"+targets[i]+"</div>Actual:<br>"+"<div id = 'divVal" +i+side+"actual'>"+conVal[i]+"</div>")
        }
        console.log(newDiv)
        $("#"+side+"Border").append(newDiv);
        $("#"+i+side).css({textAlign:"center",backgroundColor:"white",marginLeft:"auto",marginRight:"auto",border:"1px solid black",width:"50%"});
        //$("#"+i+side+"target").css({textAlign:"center",backgroundColor:"white",marginLeft:"auto",marginRight:"auto",border:"1px solid black",width:"50%"});
        //$("#"+i+side+"actual").css({textAlign:"center",backgroundColor:"white",marginLeft:"auto",marginRight:"auto",border:"1px solid black",width:"50%"});
        document.getElementById("DivChild"+i+side).classList.add('textBox');
    }
}


basicDisplay(values,sensors,"left");
basicDisplay(targets,controls,"right");
update_values();
var intervalID = setInterval(function(){update_values()},10000);
function update_values(){
    $.getJSON('/update/controls',
    function(dataNew) {
	 for(let i=0;i<dataNew.sen.length;i++){
	 const str=''+i+'left';
	 document.getElementById(str).innerHTML=dataNew.val[i];
    }
    for(let i=0;i<dataNew.con.length;i++){
        const str=''+i+'right';
        //const strTar=''+i+'input';
        document.getElementById(str).innerHTML=dataNew.con_val
        
    }
         sensors=dataNew.sen;
         values=dataNew.val;
         //basicDisplay(values,sensors,"left");
         });
       }




</script>
{% endblock %}