{% extends 'layout.html' %}
{% block body %}
<style>
    .textBox{
        margin:auto;
        border-style:groove;
        border:1px solid black;
        width:200px;
        text-align:center;
        padding-right:5px;
        padding-left:5px;
        background-color:lightgrey;
        color:black;
    }
    .linebreak{
        width:100%
    }
    .experimentBox{
        margin-bottom:5%;
        border-style:groove;
        border:1px solid black;
        width:33%;
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        float: left;
        background-color: lightgrey;
        color: black;
    }
</style>
<div id ="experiment" style="margin-bottom: 15%"></div>
<div id="leftBorder"></div>
<div id="rightBorder"></div>
<script>
$("#leftBorder").css({width:"100%",display:"float",flexWrap:"wrap",float:"center"});
$("#leftBorder").css({width:"50%",display:"float",flexWrap:"wrap",float:"left"});
$("#rightBorder").css({width:"50%",display:"float",flexWrap:"wrap",float:"right"});
$("#leftBorder").append("<div id=titleL>Readings<div>");
$("#titleL").css({fontWeight:"bold",textAlign:"center",fontSize:"2.5em"});
$("#rightBorder").append("<div id=titleR>Controls<div>");
$("#titleR").css({fontWeight:"bold",textAlign:"center",fontSize:"2.5em"});

sensors = {{Sensors | safe}}
values = {{Values | safe}}
controls = {{Controls | safe}}
targets = {{Targets | safe}}
conVal={{ControlsValues | safe}}
console.log(controls)
console.log(targets)

var side = ["left","right"];

function basicDisplay(indexing,object,side){
    for(let i = 0;i<indexing.length;i++){
        var newDiv = document.createElement('div');
        newDiv.innerHTML = "<br>";
        newDiv.id="Div"+object[i]
        document.getElementById("cont").appendChild(newDiv);
        if(side=="left"){
            var newName = document.createElement('div');
            var newData = document.createElement('div');
            var newBut = document.createElement('button');
            newName.innerHTML=""+object[i]+"<br>";
            newName.id="DivChild"+i+side;
            newName.appendChild(newData);
            newName.appendChild(newBut);
            newData.innerHTML=values[i]
            newData.id=""+i+side;
            const locale = document.getElementById("Div"+object[i]);
            locale.appendChild(newName);
            
            newBut.className="btn btn-primary btn-sm";
            newBut.innerHTML="Measure"
            newBut.id="button"+i+side;
            newBut.onclick=function(){
                console.log("Button Pressed");
                toSend=JSON.stringify(object[i]);
                console.log(toSend);
                $.ajax({
                    url:'/controls/measure/'+'sensor',
                    type:'post',
                    contentType:'application/json',
                    dataType:'json',
                    data:toSend,
                    success:function(){console.log("Success");update_values();}
                })
            }
        }
        if(side=="right"){
            var newName= document.createElement('div');
            var newData=document.createElement('div');
            var newTarget = document.createElement('div');
            var newBut = document.createElement('button');
            var newInput = document.createElement('input');
            newName.innerHTML=""+object[i]+"<br>Actual:<br>";
            newName.id = "DivChild"+i+side;
            newData.id = ""+i+side;
            newName.appendChild(newData);
            newName.appendChild(newTarget);
            newName.appendChild(newBut);
            newData.innerHTML = conVal[i];
            newTarget.innerHTML = "Target:<br>";
            newInput.type="number";
            newInput.id=""+i+"input";
            newInput.value=targets[i];
            newInput.style = "width:50%;text-align:center";
            newTarget.appendChild(newInput);
            const locale = document.getElementById("Div"+object[i]);
            locale.appendChild(newName);
            newBut.className="btn btn-primary btn-sm";
            newBut.innerHTML="Set Target"
            newBut.id="button"+i+side;
            newBut.onclick=function(){
                console.log("Button Pressed");
                controlIn = document.getElementById(""+i+"input").value;
                console.log("Set target to "+controlIn);
                toSend=[object[i],controlIn];
                toSend=JSON.stringify(toSend);
                console.log(toSend);
                $.ajax({
                    url:'/controls/measure/'+'control',
                    type:'post',
                    contentType:'application/json',
                    dataType:'json',
                    data:toSend,
                    success:function(){console.log("Success");}
                })
            }

            //newDiv.innerHTML="Target:<br>"+"<div id='divVal"+i+side+"target'>"+targets[i]+"</div>Actual:<br>"+"<div id = 'divVal" +i+side+"actual'>"+conVal[i]+"";
            //newDiv.append(" "+object[i]+"<br>Target:<br>"+"<div id='divVal"+i+side+"target'>"+targets[i]+"</div>Actual:<br>"+"<div id = 'divVal" +i+side+"actual'>"+conVal[i]+"</div>")
        }
        console.log(newDiv)
        $("#"+side+"Border").append(newDiv);
        $("#"+i+side).css({textAlign:"center",backgroundColor:"white",marginLeft:"auto",marginRight:"auto",border:"1px solid black",width:"50%"});
        //$("#"+i+side+"target").css({textAlign:"center",backgroundColor:"white",marginLeft:"auto",marginRight:"auto",border:"1px solid black",width:"50%"});
        //$("#"+i+side+"actual").css({textAlign:"center",backgroundColor:"white",marginLeft:"auto",marginRight:"auto",border:"1px solid black",width:"50%"});
        document.getElementById("DivChild"+i+side).classList.add('textBox');
    }
}
function experimentCycle(){

    ex = document.getElementById("experiment");
    var newLine = document.createElement('div');
    newLine.classList.add('linebreak')


    var nameDiv=document.createElement('div');
    nameDiv.classList.add('experimentBox');
    var timeDiv=document.createElement('div');
    timeDiv.classList.add('experimentBox');
    var buttonDiv=document.createElement('div');
    buttonDiv.classList.add('experimentBox');

    var name = document.createElement('input');
    var fileName = document.createElement('div');
    var setName = document.createElement('button');
    setName.className="btn btn-primary";
    var startTime = document.createElement('div');
    var runTime = document.createElement('div');
    var start = document.createElement('button')
    start.className="btn btn-primary btn-sm";
    start.innerHTML="Start"
    var stop = document.createElement('button');
    stop.className="btn btn-danger btn-sm";
    stop.innerHTML="Stop"

    name.id="experimentName";
    fileName.id="fileName";
    startTime.id="startTime";
    runTime.id="runTime";
    start.id="startButton";
    stop.id="stopButton";

    ex.append(nameDiv);
    ex.append(timeDiv);
    ex.append(buttonDiv);


    nameDiv.innerHTML+="<p style='float:right;margin-right:0%;margin-left:auto'>Name: </p>";
    nameDiv.appendChild(name);
    name.append(newLine);
    //nameDiv.appendChild(setName);
    nameDiv.appendChild(newLine);
    nameDiv.appendChild(fileName);
    $('#experimentName').css({float:"right",textAlign:"center",backgroundColor:"white",marginLeft:"0%",marginRight:"0%",border:"1px solid black",width:"50%",height:"fit-content"});
    $('#fileName').css({float:"right",textAlign:"center",marginLeft:"auto",marginRight:"0%",border:"1px solid black",width:"50%"});
    fileName.innerHTML="testName";

    timeDiv.innerHTML+="<p>Start Time: </p>";
    timeDiv.appendChild(startTime);
    timeDiv.appendChild(newLine);
    timeDiv.innerHTML+="<p>Run Time: </p>";
    timeDiv.appendChild(runTime);

    buttonDiv.appendChild(start);
    buttonDiv.appendChild(newLine);
    buttonDiv.appendChild(stop);


}



experimentCycle();
basicDisplay(values,sensors,"left");
basicDisplay(targets,controls,"right");
update_values();
var intervalID = setInterval(function(){update_values()},10000);
function update_values(){
    $.getJSON('/update/controls',
    function(dataNew) {
	 for(let i=0;i<dataNew.sen.length;i++){
	 const str=''+i+'left';
	 document.getElementById(str).innerHTML=dataNew.val[i];
    }
    for(let i=0;i<dataNew.con.length;i++){
        const str=''+i+'right';
        //const strTar=''+i+'input';
        document.getElementById(str).innerHTML=dataNew.con_val
        
    }
         sensors=dataNew.sen;
         values=dataNew.val;
         //basicDisplay(values,sensors,"left");
         });
       }




</script>
{% endblock %}