{% extends 'experiment_bar.html' %}

{% block body %}

<button class="btn btn-primary btn-lg" type="button" id="graphButton" onclick="newCanvas(charts)">New Graph</button>
<input type="text" id="output" hidden />
<br>
<script>
        charts = [];
        numCanvas = 0;
        var dev = {{ Devices | safe }};

        function newCanvas(chartArray) {
                /**
                 * Used to create a new graph to display the readings from a sensor
                 */
                var newDiv = document.createElement('div');
                var newDrop = document.createElement('select');
                var newCan = document.createElement('canvas');
                var newBut = document.createElement('button');
                newBut.className = "btn btn-danger";
                newBut.innerHTML = "X";
                newDrop.className = "form-select form-select-lg mb-3";

                var sel = new Option("Sensor", "", false, false);
                newDrop.append(sel);
                for (let i = 0; i < dev.length; i++) {
                        var option = new Option(dev[i], i, false, false);
                        newDrop.append(option);
                }

                // assigns unique ids for each element of each graph
                newDrop.id = "Drop" + numCanvas;
                newCan.id = "Chart" + numCanvas;
                newDiv.id = "Div" + numCanvas;
                newBut.id = "But" + numCanvas;

                var context = newCan.getContext("2d");
                document.getElementById("cont").appendChild(newDiv);
                const locale = document.getElementById("Div" + numCanvas);
                locale.appendChild(newDrop);
                locale.appendChild(newBut);
                locale.appendChild(newCan);

                // in line css adjustments
                $("#Div" + numCanvas).css({ width: "500", height: "400px", display: "flex", float: "left" });
                $("#Drop" + numCanvas).css({ width: "300px", float: "left", height: "40px" });
                $("#But" + numCanvas).css({ width: "40px", height: "40px" });
                newDiv.style.flexWrap = "wrap";
                newCan.style.width = "400px";
                newCan.style.marginLeft = "50px";
                newCan.style.height = "300px";
                newDrop.style.marginLeft = "50px";

                // stores the chart ID number in the data of the dropdown and button, used when sending ajax requests
                $("#Drop" + numCanvas).data('data', numCanvas);
                $("#But" + numCanvas).data('data', numCanvas);

                newBut.onclick = function () {
                        /**
                         * Adds behaviour to the remove Graph button that deletes the graph
                         */
                        console.log("id:" + $(this).data().data);
                        document.getElementById("Drop" + $(this).data().data).selectedIndex = 0; // resets to default to prevent the requests for readings
                        document.getElementById("Drop" + $(this).data().data).dispatchEvent(new Event('change'));
                        document.getElementById("Div" + $(this).data().data).remove(); // removes div
                };

                // creates empty chart
                var name = "Chart" + numCanvas;
                var name = new Chart(context, {
                        type: "scatter",
                        data: {
                                labels: "Graph",
                                datasets: [
                                        {
                                                label: "",
                                                data: { x: 0, y: 0 },
                                                fill: false,
                                                showLine: true,
                                                lineTension: 0.05
                                        }
                                ],
                        },
                        options: {
                                responsive: false,
                                scales: {
                                        x: {
                                                type: 'linear',
                                                position: 'bottom',
                                                title: { display: true, text: 'Time (hours)' }
                                        },
                                }
                        }
                });
                chartArray.push(name); // puts chart reference in chartArray

                $(newDrop).change(function () {
                        /**
                         * Listener for change to dropdown, requests the data for selected sensor
                         */
                        var sel = [];
                        selected = getSelected();
                        sel.push(dev[$(this).find('option:selected').val()]);
                        if (sel[0] == undefined) { sel[0] = "-1"; }
                        console.log(sel);
                        sel_data = JSON.stringify(sel);
                        num = $(this).data().data;
                        $.ajax({
                                url: '/update/graphs/' + num + '/' + selected,
                                type: 'post',
                                contentType: 'application/json',
                                dataType: 'json',
                                data: sel_data,
                                success: function () { update_values([name], num); }
                        });
                });

                toSend = [];
                toSend.push(numCanvas);
                toSend = JSON.stringify(toSend);
                $.ajax({
                        url: '/add',
                        type: 'post',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: toSend
                });
                numCanvas++;
                // update_values([name], 0);
        }

        function update_values(numGraphs, j) {
                /**
                 * Updates the currently displayed graphs.
                 * @param {Chart} numGraphs The graph object to be updated as defined in newCanvas.
                 * @param {int} j The graph index within both the array Charts and the toDisplay array found in app.py
                 */
                selected = getSelected();

                $.getJSON('/update/graphs/' + j + '/' + selected,
                        function (dataNew) {
                                $('#Time').text(dataNew.Time);
                                $('#Values').text(dataNew.Values);
                                $('#Title').text(dataNew.Title);
                                $('#Parsed').text(dataNew.Parsed);
                                console.log(dataNew);
                                numGraphs[0].data.datasets[0].data = dataNew.Parsed; // used to add data to graph object
                                numGraphs[0].data.datasets[0].label = dataNew.Title;
                                numGraphs[0].update(); // redraws graph with new data
                        });
        }

        $("#selectExp").change(function () {
                /**
                 * On change to selected experiment will update the data set used for the graphing.
                 */
                selected = getSelected();
                console.log(selected);
                if (selected != 0) {
                        console.log(selected);
                        for (let i = 0; i < charts.length; i++) {
                                update_values([charts[i]], i);
                        }

                        $("#graphButton").prop('disabled', false); // if experiment selected enable graphing
                }
                else {
                        $("#graphButton").prop('disabled', true); // disable graphing
                }
        });

        document.getElementById("deleteExp").addEventListener('click', function () {
                for (let i = 0; i < charts.length; i++) {
                        if (document.getElementById("But" + i)) {
                                document.getElementById("But" + i).dispatchEvent(new Event('click'));
                        }
                }
        });

        $("#graphButton").prop('disabled', true);

        // Sets the update intervals for the graphs
        var intervalID = setInterval(function () {
                for (let i = 0; i < charts.length; i++) { // updates every chart every 10 seconds
                        update_values([charts[i]], i);
                }
        }, 10000);

</script>
{% endblock %}