 {% extends 'layout.html' %}

{% block body %}

<select class="form-select" id="DeviceDrop">
        <option selected>Select Device 1</option>
</select>

<canvas id="lineChart1" width="400" height="300"></canvas>
<select class="form-select" id="DeviceDrop2">
        <option selected>Select Device 2</option>
</select>
<canvas id="lineChart2" width="400" height="300"></canvas>

<script>
  function updateList() {
        dev = {{Devices | safe}}
        console.log(dev);
        for (let i =0; i<dev.length;i++){
                var option = new Option(dev[i],i,false,false);
                $('#DeviceDrop').append(option);

        }}
        
  
  var context = document.getElementById("lineChart1").getContext("2d");
  var lineChart1 = new Chart(context, {
    type: "scatter",
    data: {
      labels: "Graph",
      datasets: [
        {
          label: "Point",
          data: {x:0,y:0},
          fill: false,
          //borderColor: "rgb(75, 192, 192)",
          showLine:true,
          lineTension: 0.05
        }
      ],

    },
    options: {
      responsive: false,
      scales: {
         x:{type:'linear',
            position:'bottom',
            title:{display:true,text:'Time (hours)'}},
      }
      
    }
  });
  updateList();
  var context = document.getElementById("lineChart2").getContext("2d");
  var lineChart2 = new Chart(context, {
    type: "scatter",
    data: {
      labels: "Graph",
      datasets: [
        {
          label: "Point",
          data: {x:0,y:0},
          fill: false,
          //borderColor: "rgb(75, 192, 192)",
          showLine:true,
          lineTension: 0.05
        }
      ],

    },
    options: {
      responsive: false,
      scales: {
         x:{type:'linear',
            position:'bottom',
            title:{display:true,text:'Time (hours)'}},
      }
      
    }
  });




update_values();
var intervalID = setInterval(update_values,10000);
function update_values(){
    $.getJSON('/update',
    function(dataNew) {
         $('#Time').text(dataNew.Time);
         $('#Values').text(dataNew.Values);
         $('#Title').text(dataNew.Title);
         $('#Parsed').text(dataNew.Parsed);
         $('#Time2').text(dataNew.Time2);
         $('#Values2').text(dataNew.Values2);
         $('#Title2').text(dataNew.Title2);
         $('#Parsed2').text(dataNew.Parsed2);
         console.log(dataNew)
         var selected1 = $('DeviceDrop').find(":selected").text();
         console.log(selected1)
    lineChart1.data.datasets[0].data=dataNew.Parsed;
    lineChart2.data.datasets[0].data=dataNew.Parsed2;
    lineChart1.data.datasets[0].label=dataNew.Title;
    lineChart2.data.datasets[0].label=dataNew.Title2;
    lineChart1.update();
    lineChart2.update();
         });

       }


</script>
{% endblock %}
