<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="icon" href="static/favicon.ico" />
  </head>

  <body>

    <h1>Hello World!</h1>

    <div class="jumbotron text-center">
      <h1>Welcome To Your GrowBot</h1>
      <p class="lead">Use this website/web interface to control your GrowBot and get data from its sensors.</p>
    </div>

    <script src="static/js/bootstrap.min.js"></script>

  </body>

</html>