<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Web UI Navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">OpenReactor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/graphs">Graphs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/controls">Controls</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
